<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MuavinDb"
			 connectionString="Host=10.0.0.30;Port=5432;Database=muavin;Username=postgres;Password=anilymm;Keepalive=30;Timeout=15;CommandTimeout=300;Pooling=true;Maximum Pool Size=50;Timeout=15;CommandTimeout=300;Keepalive=30"
			 providerName="Npgsql" />
	</connectionStrings>
</configuration>